doctype html
html
   head
      title = "Hello Pug"
      link(rel="stylesheet", href="/css/style.css")
   body
      p.greetings#people SI QUIERES ADOPTAR
      h1 CONTACTANOS 
      a(href = 'https://ichef.bbci.co.uk/ace/ws/640/cpsprodpb/14EC6/production/_124820758_pug1.jpg.webp') foto pug